/* share style */
* {
    font-family: Poppins;
}

.section-title {
    font-size: 2.2rem;
    font-weight: 700;
    color: #3A3A3A;
    ;
}

body {
    background: #FFF;
}

.btn-primary {
    /* display: inline-flex; */
    border-radius: 35px;
    background: #E02C6D;
    padding: 10px 24px;
    align-items: flex-start;
    font-size: 18px;
    border: none;
    width: 180px;
    height: 50px;


}

/* header site */

header {
    padding: 50px 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.2rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 100px;

}

.banner-title {
    color: #3A3A3A;
    font-size: 40px;
    font-weight: 700;
}

.banner-discription {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    margin-bottom: 20px;
}

.banner-image {
    background-image: url(../images/Circle\ design.svg);
    border-radius: 475px;
    width: 475px;
    height: 475px;
    /* border: 3px solid var(--brand-purple-100, #F1E4FF); */
}

.sponsors {
    align-items: center;
    margin-left: 100px;
    margin-top: 50px;


}

.sponsors-img {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
    align-items: center;
    gap: 40px;

}

.sponsors-img img {
    width: 130px;
}


.collection {
    align-items: center;
    margin: 50px;
    padding: 40px;
}

.collection-title {
    text-align: center;
    color: #3A3A3A;
    font-size: 28px;
    padding-bottom: 40px;

}

.collection-img {
    border: 2px solid gray;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    padding: 10px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    border: none;
}

.collection-img-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

/* feature section */
.featured {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
    padding: 20px;
    gap: 20px;
}

.feature-title {
    color: #0A0826;
    font-size: 38px;
}

.footer {
    text-align: center;
    background-color: #0A0826;
    color: #FFF;
    width: auto;
    height: 239px;
}
.footer-title{
    font-size: 30px;
    padding-top: 30px;
}

/* responsive site */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .banner,
    .sponsors-img,
    .collection-img-section,
    .featured,
    .footer {
        flex-direction: column;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .collection-img-section {
        grid-template-columns: 1fr;
    }

    .featured {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width:576px) and(max-width:992px) {
    header {
        padding: 20px;
    }

    nav,
    .banner,
    .sponsors-img,
    .collection-img-section,
    .featured,
    .footer {
        flex-direction: column;
    }
}